*{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: linear-gradient(250deg, #e5fffa, #f3e5ff);
}

#container{
  background-color: rgba(255, 255, 230, .5);
  border: 1px solid #c2dfff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 5px 10px #a94794;
  width: 80vw;
  max-width: 700px;
  min-width: 300px;
  height: 60vh;
}

#letter-input{
  width: 100%;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #c2dfff;
  color: #739ac4;
  font-size: 1.5em;

}

#header{
  color:#f696fd;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 1px solid #c2dfff;
}

#vowels{
  text-align: center;
  font-size: 1.5em;
  color: #739ac4;
}

@media screen and (max-width: 499px){
  #container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
  
}

@media screen and (min-width: 500px){
  #container{
  display: grid;
  grid-template-columns: auto auto;
  align-content: space-between;
}
  #letter-input{
  grid-column: 1 / span 2;
}
}